.general{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.general__form{
    display: flex;
    flex-direction: column;

    width: 40%;
    padding: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: auto;
    padding: 50px;
}

.info{
    background-color: rgb(105, 105, 235);
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 0 0 10px;
}


.form__items{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.form__input{
    width: 70%;
    margin-left: 10px;
}

.sexo__general{
    display: flex;
    margin-top: 10px;
}

.form__sexo{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.sexo{
    width: 100px;
    display: flex;
}

.select{
    margin-top: 20px;
}

.textarea{
    margin-top: 20px;
}


.boletin{
    margin-bottom: 15px;
}


.button{
    background-color: rgb(110, 110, 221);
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-top: 10px;
}

.fila-par {
    background-color: #f2f2f2;
  }
  

  .fila-impar {
    background-color: #fff; 
  }

  td{
    padding: 10px;
  }
  th{
    font-weight: 900;
  }

  label{
    font-weight: 500;
  }